<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
      <h2>About us</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, ab
        tenetur? Eveniet asperiores maiores laborum iure libero, harum ducimus
        provident amet facilis vel, odit, nihil laudantium optio porro ea natus.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
